# Core
django==3.1.2

# My
sc4py
suap-ead==0.1.7

# REST
django-rest-swagger==2.2.0
PyYAML==5.3.1

# Auth
django-python3-ldap==0.11.3

# Image
qrcode==6.1

# Session
django-redis-sessions==0.6.1

# Audit
soft-delete==0.2.2
django-simple-history==2.11.0
django_audit_log==0.7.0

# UI
django-crispy-forms==1.9.2
django-import-export==2.3.0
django-daterange-filter==1.3.0
django-tabbed-admin==1.0.4 
django-markdownx==3.0.1

# Devel
django-model-documentation==0.8.0
django-extensions==3.0.9
django-debug-toolbar==2.2
ipdb==0.13.3

# Production
sentry-sdk==0.17.6
gunicorn==20.0.4
supervisor==4.2.1
